/* Base */

body {
  font-family: $font-body;
  color: $dark-gray;
  background-color: $bg-pale-white;
  line-height: 1.6;
  font-size: 16px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-style: normal;
}

h1 {
  font-size: 80px;
  line-height: 130%;
}

h2 {
  font-size: 68px;
  line-height: 100%;
  font-weight: 400;
}

h3 {
  font-size: 48px;
  line-height: 130%;
}

h4 {
  font-size: 36px;
  line-height: 120%;
}

h5 {
  font-size: 32px;
  line-height: 130%;
}

h6 {
  font-size: 24px;
  line-height: 130%;
}

/* Paragraph */
p {
  font-size: 18px;
  line-height: 150%;
  color: $dark-gray;
}

// Title Section
.section-title {
  font-family: $font-heading;
  color: $darkest-brown;
  text-transform: uppercase;
}

.section-description {
  font-family: $font-body;
  color: $mid-gray;
  margin: 0;
}

.section-divider {
  width: 200px;
  height: 1px;
  background-color: $accent-pink;
  border: none;
}
