//colors

//background colors
$bg-light-pink: #FAE9E7;
$bg-pale-white: #F8F6F4;
$bg-paper-white: #FBFAFA;

//Brown tones
$dark-brown: #725A58;
$darkest-brown:#5E4A49;

//Gray tones
$dark-gray: #535353;
$mid-gray: #888888;
$black: #191919;

//accent colors
$accent-pink: #E3B6B1;


//fonts
$font-heading: 'Baskerville', serif;
$font-body: 'Avenir', sans-serif;

