//colors

//background colors
$bg-light-pink: #fae9e7;
$bg-pale-white: #f8f6f4;
$bg-paper-white: #fbfafa;

//Brown tones
$dark-brown: #725a58;
$darkest-brown: #5e4a49;
$dark-pink: #b99692;

//Gray tones
$dark-gray: #535353;
$mid-gray: #888888;
$black: #191919;

//accent colors
$accent-pink: #e3b6b1;

// fonts
$font-heading: 'Baskerville', serif;
$font-body: 'Avenir', sans-serif;