.contact {
  .contact__title {
    font-family: $font-title;
    font-size: 48px;
    margin-bottom: $space-l;
  }

  form {
    display: grid;
    gap: $space-m;
    max-width: 600px;

    input, select, textarea {
      padding: 14px;
      border: 1px solid $color-gray;
      border-radius: 6px;
      font-size: 16px;
    }

    button {
      @extend .btn--primary;
      width: fit-content;
    }
  }
}
