<nav class="header">
  <!-- Desktop -->
  <div class="nav-links">
    <div class="nav-divider">
      <a href="index.html">Home</a>
      <hr />
      <a href="my-work_makeup.html">My Work</a>
      <hr />
      <a href="services.html">Services</a>
      <hr />
      <a href="classes_overview.html">Classes</a>
    </div>
    <img src="images/logo/logo.svg" alt="logo" class="desktop-logo" />
    <div class="nav-divider">
      <a href="beauty-tips.html">Beauty Tips</a>
      <hr />
      <a href="about.html">About</a>
      <hr />
      <a href="contact.html">Contact</a>
      <hr />
      <a href="https://www.instagram.com/carlabeatrizs_/" class="ig-icon" aria-label="Instagram"></a>
    </div>
  </div>

  <!-- Mobile -->
  <div class="nav-mobile">
    <a href="#" aria-label="Open menu"
      ><img src="images/icons/menu.svg" alt="menu" class="hamburger-icon"
    /></a>
    <img src="images/logo/logo.svg" alt="logo" />
    <a href="https://www.instagram.com/carlabeatrizs_/" class="ig-icon-mobile" aria-label="Instagram"></a>
  </div>
</nav>
